body {
  background-color: black;
  color: white;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  overflow: scroll;
}

.Table {
  position: relative;
  padding: 10px;
  white-space: nowrap;
  border: none;
}

.Table thead td {
  font-weight: 600;
  background-color: #444857;
}

.Table tbody tr td,
.Table thead tr td {
  z-index: 2;
  left: 0;
  border-bottom: solid 1px #cecece;
}

.Table thead td {
  padding: 20px;
}

.Table tbody tr td:first-child,
.Table thead tr td:first-child {
  position: sticky;
}

.Table tbody {
  background: white;
}

.Table tbody tr td {
  background: white;
}